# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# Firebase Configuration (Copie estes valores nas Environment Variables da Vercel)
VITE_FIREBASE_API_KEY=AIzaSyDtQOYTxlfvo_LaJuJQRa8-YoVhdjN6bCg
VITE_FIREBASE_AUTH_DOMAIN=turing-node-507pf.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=turing-node-507pf
VITE_FIREBASE_FIRESTORE_DATABASE_ID=ai-studio-espaominikingsct-6c41e0d4-93d8-494d-87b5-9426e0c40ca6
VITE_FIREBASE_STORAGE_BUCKET=turing-node-507pf.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=157116187285
VITE_FIREBASE_APP_ID=1:157116187285:web:f13d3859a3ddc0c5b1119c


